header {
	padding: 40px 0;

	@include max-screen(768px) {
		padding: 20px;
	}

	@include max-screen(768px) {

		.header-box {
			position: relative;

			.logo-wrapp {
				position: absolute;


				.logo {
					max-width: 150px;
				}
			}

			.menu__btn {
				position: fixed;
				top: 40px;
				right: 20px;
				width: 26px;
				height: 26px;
				cursor: pointer;
				z-index: 1;
				display: inline-block;
			}
		}
	}
}